<section class="container">
	<hr>
	{% include "_navbar.twig" %}
	{{ _domain['micro']['footer']|raw }}
</section>

{% if _isLocal %}
	<ul>
		
	
{% for row in _api_hits %}
	<li>{{ row }}</li>
	{% endfor %}
	</ul>
{% endif %}