<section class="container">
	<hr>
	{% include "_navbar.twig" %}
	<div class="c">
		- Copyright {{ _domain['prefered_url']['url'] }} ({{ "now"|date("Y") }}) -
	</div>
</section>

{% if _isLocal %}
	<ul>
		
	
{% for row in _api_hits %}
	<li>{{ row }}</li>
	{% endfor %}
	</ul>
{% endif %}