<section>
	
	<h2>Contact us:</h2>
	
	<table class="table">
		<thead>
		<tr>
			<th colspan='2'><h3>Office</h3></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Office:</th>
			<td>015 516 4996/7</td>
		</tr>
		<tr>
			<th>Fax:</th>
			<td>015 516 2303</td>
		</tr>
		<tr>
			<th>Address:</th>
			<td>Joubert Street 16b, Louis Trichardt, 0920</td>
		</tr>
		</tbody>
		<thead>
		<tr>
			<th colspan="2">
				<h4>News:</h4>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Anton van Zyl (Owner)</th>
			<td>anton@zoutnet.co.za</td>
		</tr>
		<tr>
			<th>Andries van Zyl (News Editor - Zoutpansberger)</th>
			<td>andries@zoutnet.co.za</td>
		</tr>
		<tr>
			<th>Wikus Lee (Editor - Limpopo Mirror)</th>
			<td>wikus@zoutnet.co.za</td>
		</tr>
		<tr>
			<th>Isabel Venter (Journalist)</th>
			<td>isabel@zoutnet.co.za</td>
		</tr>
		<tr>
			<th>Elmon Tshikhudo</th>
			<td>072 207 7606</td>
		</tr>
		<tr>
			<th>Frank Mavhungu (Journalist - Thohoyandou)</th>
			<td>082 969 3131</td>
		</tr>
		<tr>
			<th>Mashudu Netsianda (Journalist - Beit Bridge)</th>
			<td>071 259 3783</td>
		</tr>
		<tr>
			<th>Kaizer Nengovhela (Journalist)</th>
			<td>072 335 8828</td>
		</tr>
		<tr>
			<th>Ndivhuwo Musetha (Journalist)</th>
			<td>082 957 8493</td>
		</tr>
		<tr>
			<th>Given Mukwevho (Journalist)</th>
			<td>015 516 4996</td>
		</tr>
		<tr>
			<th>Linda van der Westhuizen (Journalist)</th>
			<td>084 516 0223</td>
		</tr>
		
		</tbody>
		<thead>
		<tr>
			<th colspan="2"><h4>Advertising:</h4></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Pieter Jooste (Marketing Manager)</th>
			<td>083 562 1234 / pieter@zoutnet.co.za</td>
		</tr>
		</tbody>
		<tbody>
		<tr>
			<th>George Janse van Rensburg (Marketer)</th>
			<td>082 419 2359 / george@zoutnet.co.za</td>
		</tr>
		</tbody>
		<tbody>
		<tr>
			<th>Yolanda Kock (Marketer)</th>
			<td>082 972 2060 / yolanda@zoutnet.co.za</td>
		</tr>
		<tr>
			<th><strong>Classifieds</strong></th>
			<td>015 516 4996 / bonita@zoutnet.co.za</td>
		</tr>
		<tr>
			<th><strong>Legals</strong></th>
			<td>015 516 4996 / accounts@zoutnet.co.za</td>
		</tr>
		</tbody>
		<thead>
		<tr>
			<th colspan='2'>
				<h4>Administration</h4>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Anton van Zyl (Manager)</th>
			<td>anton@zoutnet.co.za</td>
		</tr>
		<tr>
			<th>Ronel Welman (Admin Manager)</th>
			<td>admin@zoutnet.co.za</td>
		</tr>
		<tr>
			<th>Elzaan van Eeden (Admin Clerk)</th>
			<td>accounts@zoutnet.co.za</td>
		</tr>
		</tbody>
	</table>
</section>